body {
    background: url('/static/img/paper.jpg');
}

@font-face { font-family: Delicious-Heavy; src: url('../fonts/Delicious-Heavy.otf'); } 
@font-face { font-family: Coolvetica; src: url('../fonts/coolvetica.ttf'); } 

header {
    font-family: Delicious-Heavy, Arial, sans-serif;
}

h1#header_logo {
    font-size: 4em;
}

h2#header_school {
    font-size: 2.5em;
}

.greenlink a {
    color: rgb(0, 148, 67);
}

#submitbox {
    background-color: rgb(220, 208, 141);
    border: 1px black solid;
    padding: 5px;
}

#submitbox #submitbox-header {
    font-size: 1.8em;
    font-family: Calibri, Arial, sans-serif;
}

#submitbox label {
    font-family: Coolvetica, Arial, sans-serif;
    font-size: 2em;
    display: block;
    margin: 0.2em;
}

#submitbox textarea {
    display: block;
    border-radius: 6px;
    border-width: 2px;
    background-color: transparent;
    margin: 0.2em;
    padding: 4px;
    resize: none;
}

#img-preview-wrapper img {
    margin: 5px;
    display: block;
}

#submitbox input.submitbtn {
    display: block;
    font-family: Coolvetica, Arial, sans-serif;
    font-size: 1.5em;
    border-radius: 6px;
    background-color: rgb(146, 208, 80);
    float: right;
}

#submitbox #ffa {
    float: right;
    margin: 5px;
}

.floatright {
    float: right;
}

.bold {
    font-weight: bold;
}

#cat-select-box {
    background-color: rgb(165, 158, 121);
    text-align: center;
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding: 5px;
}

#posts {
    background-color: rgb(220, 204, 177);
    border: 1px solid;
    padding: 5px;
} 

#posts .lonely {
    text-align: center;
    font-size: 1.2em;
}

.post-container {
    border-top: 1px black solid;
}

.post-title {
    font-family: Calibri, Arial, sans-serif;
    font-size: 1.6em;
}

.post-content {
    font-family: Calibri, Arial, sans-serif;
    font-size: 1.2em;
}

.posted-by {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}

.boldblue {
    font-weight: bold;
    color: rgb(79, 129, 189);
}

.post-comment {
    border-top: 1px solid black;
}

.post-comment-date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: gray;
    text-align: right;
}

.post-comment-form textarea {
    width: 100%;
    resize: none;
}

footer {
    margin-top: 1em;
}

#footer {
    border-top: 1px black solid;
}

footer ul, footer li {
    display: inline;
    margin-left: 0;
    margin-right: 5px;
    list-style-type: none;
}
