{% load static %}
{% load url from future %}

<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>OverheardBy.Me {{ title }}</title>
  <meta name="description" content="Sometimes, people say funny things in college that are OverheardBy.Me." />

  {% block ogmeta %}
  {% include 'ogmeta.html' %}
  {% endblock %}

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/960.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/text.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}js/libs/fancybox/jquery.fancybox-1.3.4.css">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/pepper-grinder/jquery-ui.css">

  <!-- end CSS-->

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
   <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->

  <script src="{{ STATIC_URL }}js/libs/modernizr-2.0.6.min.js"></script>
</head>

<body>

{% block header %}
<header>
<div class="container_12">
    <div class="grid_8 alpha">
    <h1 id="header_logo">OverHeardBy.Me</h1>
        <div class="prefix_1 grid_7">
            <div id="header_school_block">
                <h2 id="header_school" class="greenlink">@<a href="{% url 'site_main.views.render_posts' request.session.school.slug %}">{{ request.session.school.short_name }}</a></h2>
                <a id="notschool" href="{% url 'site_main.views.select_school' %}">Not your school?</a>
            </div>
        </div>
    </div>
    <div class="grid_4 omega">
    {% if user.is_authenticated %}
        <p id="welcome">Welcome, {{ user.get_full_name }}!<br /><a href="{% url 'site_main.views.site_logout' %}">Logout</a></p>
    {% else %}
        <a href="https://www.facebook.com/dialog/oauth?client_id={{ fb_app_id }}&amp;redirect_uri=http://{{ site_domain }}{% url 'site_main.views.site_login' %}&amp;scope={{ fb_perms }}"><img class="floatright" src="{{ STATIC_URL}}img/fblogin.png" title="Facebook-enabled for quick and easy access - login to post, comment, and like other people's posts!" alt="Login with Facebook" /></a>
    {% endif %}
    <div class="fb-like" data-href="http://{{ site_domain }}" data-send="true" data-width="310" data-show-faces="true" data-font="trebuchet ms"></div>
    </div>
</div>
</header>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
<footer>
<div class="container_12">
    <div id="footer" class="grid_12">
    <p>OverheardBy.Me &copy; 2011<br /></p>
    <ul>
        <li><a href="/terms/" target="_blank">Terms of Use</a></li>
        <li class="last"><a href="mailto:admin@overheardby.me">Contact Us</a></li>
    </ul>
    </div>
</div>
</footer>    
{% endblock %}

{% block scripts %}
<div id="fb-root"></div>

  <!-- JavaScript at the bottom for fast page loading -->

<script>
    window.fbAsyncInit = function() {
        FB.init({
        appId      : '{{ fb_app_id }}', // App ID
        channelURL : 'http://{{ site_domain }}/channel.html', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        oauth      : true, // enable OAuth 2.0
        xfbml      : true  // parse XFBML
        });

        // Additional initialization code here
    };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
</script>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js"><\/script>')</script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/jquery.jqote2.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
  <script>
  var switchTo5x = true;
  </script>
  <script id="stscript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher:'b175e788-d067-4d8b-9371-d7eeec3533f8', onhover: false});</script>

  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="{{ STATIC_URL }}js/plugins.js"></script>
  <script defer src="{{ STATIC_URL }}js/script.js"></script>
  <!-- end scripts-->


  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UA-10371252-4'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>

<!-- Prompt all IE users to install Chrome Frame. Remove this if you want to support IE.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if IE]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</script>
{% endblock %}

</body>
</html>
