{% extends "base.html" %}
{% load static %}
{% load url from future %}

{% block title %}@ {{ request.session.school.name }}{% endblock %}
{% block ogmeta %}
  {% if own_meta %}
  <meta property="og:title" content="{{ own_meta.location }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://{{ site_domain }}{{ request.path }}" />
  {% if own_meta.has_images %}
  <meta property="og:image" content="http://{{ site_domain }}{{ own_meta.image_thumb.url }}" />
  {% else %}
  <meta property="og:image" content="http://{{ site_domain }}{{ STATIC_URL }}img/icon.png" />
  {% endif %}
  <meta property="og:site_name" content="OverHeardBy.Me" />
  <meta property="og:description" content="{{ own_meta.content|truncatewords:50 }}" />
  <meta property="fb:admins" content="1430370192" />
  {% else %}
  {{ block.super }}
  {% endif %}
{% endblock %}

{% block content %}
{% if not hideExtra %}
<div id="submitbox" class="container_12">
    <div class="grid_12">
        <h2 id="submitbox-header">Got something to share?</h2>
    </div>
    <form id="new-post-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="grid_12">
        <div class="grid_6 alpha">
        <label>Who/where?</label>
        <textarea id="id_location" name="location" rows="4" cols="40" maxlength="100">{{f.location.data|default:""}}</textarea>
        </div>
        <div class="grid_6 omega">
        <label class="floatright">What did you (over)hear?</label>
        <textarea id="id_content" name="content" class="floatright" rows="4" cols="40">{{f.content.data|default:""}}</textarea>
        </div>
    </div>

    <div class="grid_12">
    </div>
        <div class="grid_6 alpha">
            <img id="img-upload-button" class="pointer" title="Upload an image" src="{{STATIC_URL}}img/icons/camera.png" />
            <img id="img-delete" class="pointer" src="{{STATIC_URL}}img/icons/x.png" title="Delete upload" style="display: none;" />
            <div id="img-upload-module" style="display: none;">
                <p class="bold">Upload an image from your computer. (png, jpg, gif, max. 2MB)</p>
                {{f.image}}
                <span id="img-preview-wrapper"></span>
            </div>
        </div>
        <div class="grid_6 omega">
            <input id="new-post-submit" type="submit" class="submitbtn" value="Submit!" />
            {% if f.errors %}
            <p class="error">Whoops, something went wrong! Check your input or try again later.</p>
            {% endif %}
        </div>
    </form>
</div>

<div id="cat-select-box" class="container_12">
    <div class="grid_12">
        <div id="select-cat-radio">
            <input id="latest" type="radio" name="cat" checked="checked" /><label for="latest">Latest</label>
            <input id="popular" type="radio" name="cat" /><label for="popular">Most Popular</label>
        </div>
    </div>
</div>
{% endif %}
<div id="posts" class="container_12">
    <div id="posts-wrapper">
    {% if posts %}
    {% for post in posts %}
    <div id="post-{{ post.pk }}" class="post-container" data-postid="{{ post.pk }}">
        <div class="grid_12">
            <h3 class="post-title">{{ post.location }}</h3>
            <h4 class="post-school">{{ post.school.name }}</h4>
            <p class="post-content">
            {{ post.content|linebreaksbr }}
            </p>
            <p class="posted-by">Posted {{ post.date_pretty }} by <a href="{% url 'site_main.views.render_user_posts' request.session.school.slug post.author.pk %}">{{ post.author.firstl }}</a></p>
            <span class="iconbar">
            {% if user.is_authenticated and user in post.likes.all %}
                <img src="{{STATIC_URL}}img/icons/thumb_up_already.png" title="You like this post" /> 
            {% else %}
                <img class="like-button" src="{{STATIC_URL}}img/icons/thumb_up.png" title="Like this post" />
            {% endif %} 
            <span class="likes-count">{{ post.likes.count }}</span>
                <img src="{{STATIC_URL}}img/icons/comment.png" title="Comments" /><span class="comments-count">{{ post.postcomment_set.count }}</span>
                <img class="report-button" src="{{STATIC_URL}}img/icons/exclamation.png" title="Report this post "/>
                <span class='st_sharethis' st_url="http://{{ site_domain }}{% url 'site_main.views.render_single_post' request.session.school.slug post.pk %}" st_title="{{ post.location }}" st_summary="{{ post.content }}" {% if post.has_images %}st_image="http://{{ site_domain }}{{post.image_thumb.url}}" {% endif%} displayText='ShareThis'></span>
            </span> 
            {% if not hide_permalink %}
            <p class="permalink"><a href="{% url 'site_main.views.render_single_post' request.session.school.slug post.pk %}">-permalink-</a></p>
            {% endif %}
        </div>
        <div class="grid_12">
            <div class="grid_5 alpha">
                {% if post.has_images %}
                <a class="img-popup" href="{{ post.image.url }}"><img class="thumbnail" src="{{ post.image_thumb.url }}" alt="Post #{{ post.pk}} thumbnail" /></a>
                {% else %}
                &nbsp;
                {% endif %}
            </div>
            <div class="grid_7 omega comments-box expanded">
                {% if post.postcomment_set %}
                {% for comment in post.postcomment_set.all %}
                <div class="post-comment">
                    <p><a href="{% url 'site_main.views.render_user_posts' request.session.school.slug comment.author.pk %}">{{ comment.author.firstl }}</a> {{ comment.content }}</p>
                    <p class="post-comment-date">{{ comment.date_pretty }}</p>
                </div>
                {% endfor %}
                {% else %}
                &nbsp;
                {% endif %}
                {% if user.is_authenticated %}
                <div class="post-comment-form">
                    <form action="{% url 'site_main.views.post_comment' post.pk %}">
                    <textarea name="content" placeholder="What say you?"></textarea>
                    {% csrf_token %}
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {% endfor %}
    </div>
    {% else %}
    <p class="lonely">It's lonely here...why not submit something?</p>
    {% endif %}
    {% if not hideExtra and posts %}
    <div id="more-posts" class="grid_12">
        <input id="more-posts-btn" type="button" name="more-posts" value="Show me some more!" />
    </div>
    {% endif %}
</div>    
{% endblock %}
     
{% block scripts %}     
  <div id="fb-root"></div>

  <!-- JavaScript at the bottom for fast page loading -->
  
<script>
    window.fbAsyncInit = function() {
        FB.init({
        appId      : '{{ fb_app_id }}', // App ID
        channelURL : 'http://{{ site_domain }}/channel.html', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        oauth      : true, // enable OAuth 2.0
        xfbml      : true  // parse XFBML
        });

        // Additional initialization code here
    };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
</script>

  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js"><\/script>')</script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/jquery.jqote2.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
  <script>
  var switchTo5x = true;
  </script>
  <script id="stscript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher:'b175e788-d067-4d8b-9371-d7eeec3533f8', onhover: false});</script>

  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="{{ STATIC_URL }}js/plugins.js"></script>
  <script defer src="{{ STATIC_URL }}js/script.js"></script>
  <!-- end scripts-->

	
  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!-- Prompt all IE users to install Chrome Frame. Remove this if you want to support IE.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if IE]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{{ fb_app_id }}', // App ID
      channelURL : 'http://{{ site_domain }}/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      oauth      : true, // enable OAuth 2.0
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
</script>

{% include 'templates.jqote2.html' %}

<script>
$(document).ready(function() {
    var page = 1;
    {% if latest %}
    var latest = true;
    {% else %}
    var latest = false;
    {% endif %}
    if(!latest)
        $('#popular').attr('checked', true);


    function showAlert(t, msg) {
        var d = $('#alert_template').jqote({message: msg});
        $(d).dialog({ 
            modal: true,
            title: t,
            draggable: false,
            resizable: false,
            buttons: {OK: function() {
                $(this).dialog("close"); $(this).remove(); }}
        });
    }

    {% if not user.is_authenticated %}
    $('#new-post-form').submit(function() {
        showAlert("Login Required", "You need to be logged in to post.");
        return false;
    });
    {% endif %}

    $('#latest').click(function() {
       window.location = '/';
    });

    $('#popular').click(function() {
       window.location = '{% url 'site_main.views.render_posts_popular' school=request.session.school.slug %}';
    });
     
    $('#select-cat-radio').buttonset();
    $('#more-posts-btn').button();

    function isBlank(s) {
        return s.replace(/\s/g, "") == "";
    }
     
    $('#new-post-form').submit(function() {
        if(isBlank($('#id_location').val()) || isBlank($('#id_content').val()))
            return false;
    });

    function bindFancyBox() {
        $('.img-popup').fancybox();
    }

     $('body').delegate('.comments-box .expand', 'click', function() {
        var me = $(this);
        $(this).parent().children().show("drop", {direction: "down"});
        me.hide("drop", {direction: "up"});
    });

    function hideComments() {
        $('.comments-box.expanded').each(function() {
            var p = $(this);
            var c = p.children('.post-comment');
            if(c.length > 5) {
                c.slice(0, length - 5).hide();
                var expander = "<p class='expand'>See all comments</p>";
                p.prepend(expander);
                p.removeClass("expanded");
            }
            else if(c.length == 0 && p.children('.nocomments').length == 0)
                p.prepend("<p class='nocomments'>No comments</p>");
        });
    }
    
    function stRefresh() {
        stButtons.locateElements();
    }

    function setupPosts() {
        bindFancyBox();
        hideComments();
        {% if not user.is_authenticated %}
        $('.post-comment-form').remove();
        {% endif %}
    }
    
    setupPosts();

    $('#more-posts-btn').click(function() {
        var me = $(this);
        page++;
        if(latest)
            var u = '{% url 'site_main.views.more_posts' 'uchicago' %}' + '?page=' + page;
        else
            var u = '{% url 'site_main.views.more_posts_popular' 'uchicago' %}' + '?page=' + page;

        $.ajax({
            type: 'GET',
            url: u,
            cache: false,
            dataType: 'json',
            success: function(data) {
                if(data.length == 0)
                    me.parent().hide();
                for(var i=0; i < data.length; i++) {
                    var newstuff = $('#post_template').jqote(data[i]);
                    $('#posts-wrapper').append(newstuff);
                }
                setupPosts();
                stRefresh();
            }
        });
    });

{% if user.is_authenticated %}
    function scaleToSquare(img, maxside) {
        width = img.width;
        height = img.height;
        if(width <= maxside && height <= maxside)
            return;
        ratio = Math.max(width, height) / maxside;
        return [Math.round(width / ratio), Math.round(height / ratio)];

    }

    function readURL(input, previewfield) {
        if(input.files && input.files[0]) {
            $('#img-delete').show();
            var imageType = /image.*/;
            if(!input.files[0].type.match(imageType)) {
                alert("Invalid file type!");
                return;
            }

            window.URL = window.webkitURL || window.URL;
            var img = document.createElement("img");

            var reader = new FileReader();
            reader.onload = function (e) {
                img.onload = function() { // make sure the image is fully loaded
                    var newdims = scaleToSquare(img, 128);
                    img.width = newdims[0]; img.height = newdims[1];
                    $('#img-preview-wrapper').html($(img));
                    window.URL.revokeObjectURL(img.src);
                }
                img.src = window.URL.createObjectURL(input.files[0]);;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#img-upload-button').click(function() { $('#img-upload-module').show() });
    $('#id_image').change(function() { readURL(this, '#img-preview'); });
    $('#img-delete').click(function() {
        $(this).hide();
        $('#img-preview-wrapper').html('');
        $('#id_image').val('');
    });
   
    $('body').delegate('.like-button', 'click', function() {
        var me = $(this);
        var post_id = me.closest('.post-container').attr('data-postid');
        $.ajax({
            type: 'GET',
            url: '/post/' + post_id + '/like/',
            cache: false,
            dataType: 'json',
            success: function(data) {
                if(!data.hasOwnProperty('success') || !data.success)
                    showAlert('Error', data.error_msg);
                else {
                    me.attr('src', '{{ STATIC_URL }}img/icons/thumb_up_already.png');
                    me.attr('title', 'You like this post');
                    me.removeClass('like-button');
                    var new_like_count = parseInt(me.siblings('.likes-count').html());
                    new_like_count++;
                    me.siblings('.likes-count').html(new_like_count.toString());
                }
            }
        });
    });

    function reportPost(pid) {
        var m = $('#report_template').jqote({id: pid});
        $(m).dialog({
            modal: true,
            draggable: false,
            resizable: false,
            title: 'Report Post',
            buttons: {
                Yes: function() {
                    reported = true;
                    $.get('/post/' + pid + '/report/');
                    $(this).dialog('close');
                    $(this).remove();
                    showAlert('Post reported', 'Thank you. A site administrator has been notified.');
                },
                No: function() {
                    $(this).dialog('close');
                    $(this).remove();
                }
            }
        });
    }

    $('body').delegate('.report-button', 'click', function() {
        var post_id = $(this).closest('.post-container').attr('data-postid');
        reportPost(post_id);
    });
         
    $('body').delegate('.post-comment-form form', 'submit', function() {
        var myself = $(this);
        myself.attr('disabled', 'disabled');

        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            cache: false,
            dataType: 'json',
            success: function(data) {
                if(!data.hasOwnProperty('success') || !data.success) {
                    showAlert('Error', data.error_msg);
                    myself.removeAttr('disabled');
                }
                else
                {
                    data.comments = data.comment;
                    var cb =  myself.closest('.comments-box');
                    cb.append($('#comment_template').jqote(data.comment));
                    //cb.children('.post-comment').show();
                    var cc = myself.closest('.post-container').children('div.grid_12').children('.iconbar').children('.comments-count');
                    var comment_count = parseInt(cc.html());
                    comment_count++;
                    cc.html(comment_count);
                    myself.closest('.comments-box').children('p.nocomments').remove();
                    myself[0].reset();
                    myself.remove();
                }
            }
        });
        return false;
    });

    $('body').delegate('.post-comment-form textarea', 'keypress', function(e) {
        if(!isBlank($(this).val()) && e.keyCode == 13)
            $(this).closest('form').trigger('submit');
    });

    function goLogout() {
        window.location = '{% url 'site_main.views.site_logout' %}';
    }

{% else %}
    $('body').delegate('.like-button, .report-button', 'click', function() {
        showAlert('Login Required', 'You need to login before you can do that.');
    });
{% endif %}

});
</script>
{% endblock %}
