<script id="post_template" type="text/html">
<div id="post-{% templatetag openvariable %}id{% templatetag closevariable %}" class="post-container" data-postid="{% templatetag openvariable %}id{% templatetag closevariable %}">
    <div class="grid_12">
        <h3 class="post-title">{% templatetag openvariable %}location{% templatetag closevariable %}</h3>
        <h4 class="post-school">{% templatetag openvariable %}school{% templatetag closevariable %}</h4>
        <p class="post-content">
        {% templatetag openvariable %}content{% templatetag closevariable %}
        </p>
        <p class="posted-by">Posted {% templatetag openvariable %}date{% templatetag closevariable %} by <a href="{% templatetag openvariable %}author_url{% templatetag closevariable %}">{% templatetag openvariable %}author{% templatetag closevariable %}</a></p>
        <span class="iconbar">
        {% if user.is_authenticated and not user in post.likes %}
            <img src="{{STATIC_URL}}img/icons/thumb_up.png" title="Like this post" />
        {% endif %}
        {% templatetag openvariable %}likes{% templatetag closevariable %}
            <img src="{{STATIC_URL}}img/icons/comment.png" title="Comments" /> {% templatetag openvariable %}comment_count{% templatetag closevariable %}
            <img src="{{STATIC_URL}}img/icons/exclamation.png" title="Report this post "/>
            <span class='st_sharethis' st_url="http://{{ site_domain }}{% templatetag openvariable %}url{% templatetag closevariable %}" st_title="{% templatetag openvariable %}location{% templatetag closevariable %}" st_summary="{% templatetag openvariable %}content{% templatetag closevariable %}" st_image="http://{{ site_domain }}{% templatetag openvariable %}#image{% templatetag closevariable %}{% templatetag openvariable %}thumb{% templatetag closevariable %}{% templatetag openvariable %}/image{% templatetag closevariable %}" displayText='ShareThis'></span>
            <p class="permalink"><a href="http://{{ site_domain }}{% templatetag openvariable %}url{% templatetag closevariable %}">-permalink-</a></p>
        </span>
    </div>
    <div class="grid_12">
        <div class="grid_5 alpha">
            {% templatetag openvariable %}#image{% templatetag closevariable %}
            <a class="img-popup" href="{% templatetag openvariable %}full{% templatetag closevariable %}"><img src="{% templatetag openvariable %}thumb{% templatetag closevariable %}" /></a>
            {% templatetag openvariable %}/image{% templatetag closevariable %}
            &nbsp;
        </div>
        <div class="grid_7 omega comments-box expanded">
        {% templatetag openvariable %}>com{% templatetag closevariable %}
            <div class="post-comment-form">
                <form action="/post/{% templatetag openvariable %}id{% templatetag closevariable %}/comment/">
                    <textarea name="content" placeholder="What say you?"></textarea>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
</script>

<script id="comment_template" type="text/html">
{% templatetag openvariable %}#comments{% templatetag closevariable %}
    <div class="post-comment">
        <p><a href="{% templatetag openvariable %}author_url{% templatetag closevariable %}">{% templatetag openvariable %}author{% templatetag closevariable %}</a> {% templatetag openvariable %}content{% templatetag closevariable %}</p>
        <p class="post-comment-date">{% templatetag openvariable %}date{% templatetag closevariable %}</p>
    </div>
{% templatetag openvariable %}/comments{% templatetag closevariable %}
</script>
