<!doctype html>

<head>
<title>OverheardBy.Me</title>
<meta name="description" content="Because people sometimes say funny things in college.">

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/pepper-grinder/jquery-ui.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js"><\/script>')</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

<style type="text/css">
#school-select-dialog {
    text-align: center;
}
</style>
<script>
$(document).ready(function() {
    $('#school-select-dialog').dialog({
        title: 'OverheardBy.Me',
        modal: true,
        draggable: false,
        resizable: false,
        closeOnEscape: false,
        minWidth: 480,
        open: function(e, ui) { $(".ui-dialog-titlebar-close").hide(); }

    });

    $('#sch-select').change(function() {
        if($(this).val())
            window.location = '/' + $(this).val() + '/';
    });

});
</script>
</head>
<body>

<div id="school-select-dialog">
<h1>Select a school:</h1>
<form>
<select id="sch-select">
<option value=""></option>
{% for s in schools %}
<option value="{{ s.slug }}">{{ s.name }}</option>
{% endfor %}
</select>
</form>
<p>Don't see your school listed here? Send an email to <a href="mailto:schools@{{ site_domain }}">schools@{{ site_domain }}</a>.</p>
</div>

</body>
</html>
